.video {
  width: 100%;
}

.nav-link {
  color: white !important;
}

.dropdown-menu {
  background-color: black;
}

.dropdown-item {
  color: white !important;
}

.dropdown-menu{
    height: 0vh;
    animation: 1s;
    display: block;
}

