.video {
  width: 100%;
}

.nav-link {
  color: white !important;
}

.dropdown-menu[data-bs-popper] {
  position: absolute !important;
  left: 0 !important;
}

.dropdown-menu {
  transition: all 0.5s;
  overflow: hidden;
  transform-origin: top center;
  transform: scale(1, 0);
  display: block;
}

