@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300&display=swap');

body{
    font-family: 'Heebo', sans-serif;
    overflow-x: hidden;
}

.navbar{
    background-color: rgba(0, 0, 0, 0.8)!important;
    position: absolute;
    width: 100%;
    z-index: 2;
}

.logo{
    height: 10vh;
}


.video {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    padding-bottom: -2vmin;
  }

.image{
    width: 100%;
    height: 90vh;
    object-fit: cover;
    transition: 10s;
    transform: scale(1.2);
}

.image:hover{
    transform: scale(1);
}

.image-square{
    width: 100%;
    height: 45vh;
    object-fit: cover;
    transition: 1s;
}

.image-square:hover{
    transform: scale(1.1);
}

.image-square-large:hover{
    transform: scale(1.1);
}

.image-square-large{
    width: 100%;
    height: 90vh;
    object-fit: cover;
    object-fit: cover;
    transition: 1s;

}

.image-text{
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
    text-align: center;
    color: white;
}


.nav-link {
  color: white !important;
}

.nav-item-dropdown:hover, .nav-link:hover{
    color: rgb(151, 151, 151)!important;
    transition: 0.2s;
}

.dropdown-menu {
  background-color: black;
}

.dropdown-item {
  color: white !important;
}

.dropdown-item:hover {
    background-color: rgb(143, 143, 143) !important;
  }

.dropdown-menu{
    width: 20vw;
}


.d-block{
    height: 95vh;
    object-fit: cover;
    transition: 15s;
}

.d-block:hover{
    transform: scale(1.3);
}

.display-1{
    font-weight: 900!important;
}

.carousel{
    margin-bottom: 10vh!important;
}

.carousel-caption{
    left: 5%!important;
    right: unset!important;
    top: 5%!important;
}

.carousel-item{
    transition: transform 0.3s ease-in-out;
}

.w-35{
    width: 35%!important;
}

.h-100vh{
    height: 100vh;
}

.car-container{
    position: relative;
    width: 30vw;
    transform: translateX(180%);
}

.car-move{
    animation: 4s car-move forwards;
}

@keyframes car-move{
    0%{transform: translateX(180%);}
    100%{transform: translateX(-10%);}
}

.car{
    position: absolute;
    width: 500px;
}

.wheel1{
    position: absolute;
    width: 76px;
    top: 72px;
    left: 97px;
}

.wheel2{
    position: absolute;
    width: 76px;
    top: 72px;
    left: 377px;
}

.wheel-move{
    animation: 4s wheel-move forwards;
}

.m-top-30{
    position: relative;
    top: 30%;
}

@keyframes wheel-move{
    0%{transform: rotate(0deg);}
    100%{transform: rotate(-800deg);}
}

.up-icon{
    position: fixed;
    display:block;
    right: 5%;
    top: 85%;
    width: 4rem;
    padding: 1.5rem;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 100%;
    z-index: 1000;
}

@media screen and (max-width: 800px) {

    .logo{
        display: none;
    }

    .mobile-hide{
        display: none;
    }
}