.video {
  width: 100%;
}

.nav-link {
  color: white !important;
}

.dropdown-menu {
  background-color: black;
}

.dropdown-item {
  color: white !important;
}

.dropdown-menu{
    height: fit-content;
    animation: 1s;
}

.dropdown-menu.show{
    height: 50vh;
    visibility: visible;
    display: block;
}